@import "normalize.css";
header {
  -webkit-background-image: linear-gradient(#ffffff, #3c9aff);
  -moz-background-image: linear-gradient(#ffffff, #3c9aff);
  -ms-background-image: linear-gradient(#ffffff, #3c9aff);
  -o-background-image: linear-gradient(#ffffff, #3c9aff);
  background-image: linear-gradient(#ffffff, #3c9aff);
}
header h1 {
  color: #bbdcff;
}
header nav {
  -webkit-background-image: linear-gradient(#ffffff, #3c9aff);
  -moz-background-image: linear-gradient(#ffffff, #3c9aff);
  -ms-background-image: linear-gradient(#ffffff, #3c9aff);
  -o-background-image: linear-gradient(#ffffff, #3c9aff);
  background-image: linear-gradient(#ffffff, #3c9aff);
}
header nav ul {
  height: 24px;
}
header nav ul li {
  width: 160px;
  float: left;
}
header nav ul li a {
  color: #3c9aff;
  text-decoration: none;
  padding: 4px 0;
  display: block;
}
